@import '../../../assets/scss/utils/vars';

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $desktopPageIndent;
  overflow-y: auto;
  overflow-x: hidden;
  &:before {
    content: '';
    background: $greyDarkColor;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .95;
    z-index: -1;
  }
  &__close {
    position: absolute;
    right: $desktopSectionIndent;
    top: $desktopSectionIndent;
    color: $whiteColor;
    font-size: 30px;
    cursor: pointer;
    transform: rotate(0);
    transition: transform .15s ease-in-out;
    padding: 20px;
    margin: -20px;
    &:hover {
      transform: rotate(180deg);
    }
  }
  &__box {
    color: $greyMediumColor;
    background: $whiteColor;
    display: flex;
    max-width: 90%;
  }
  &__img {
    width: 50%;
    padding: $desktopSectionIndent;
    flex: 0 0 auto;
    box-sizing: border-box;
    position: relative;
    .preloader {
      width: 200px;
      height: 200px;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      &:before {
        opacity: 1 !important;
      }
    }
    img {
      min-width: 200px;
      min-height: 200px;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      vertical-align: top;
      user-select: none;
      position: relative;
      z-index: 1;
    }
  }
  &__content {
    width: 100%;
    padding: $desktopSectionIndent;
  }
  &__title {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-bottom: $desktopSectionIndent;
  }
}