// === Colors
$whiteColor: #fff;
$lightColor: #fafafa;
$mediumColor: #dedede;

$greyLightColor: #b0b0b0;
$greyMediumColor: #333;
$greyDarkColor: #1f1f1f;

$brandBlue: #77bffa;
$brandBlueDark: #629ccc;
$brandOrange: #de5b31;

$errorColor: #ff0000;
$errorDarkColor: #cc0000;

// === Sizes
$desktopPageIndent: 40px;
$desktopSectionIndent: 20px;
$adminBarSize: 30px;